body{
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    user-select: none;
}

.bar
{
    background-color: #f9ed69;
    margin: 5px;
}

.logo
{
    width: 90px;
    display: block;
    margin: 0 auto;

}

#frame{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#customersContainer{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

}



#userslist
{
    margin: 10px;
    list-style-type: circle;
}

#loadXml
{
    order:2;
    border: 1px;
    margin: 10px;
}

tr{
    cursor: pointer;
}

.user-name{
    color: #8d3a95;
    margin-left:10px;
    margin-bottom:10px;
    font-weight: bold;
}

.alertsContainer{
    /* new: */
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.alert{
    border:0.1em solid #ae4ab8/*#000000*/;
    padding:0.1em 1.4em;
    margin: 1px;
    width:60%;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /*font-weight: bold;*/
    font-size: 12px;
}

.okButton{
    font-family: Arial, Helvetica, sans-serif;
    order:2;
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white/*#000000*/;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background-color:#8d3a95;/*#42cc8c;*/
}

.okButton:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#f9ed69/*#FFFFFF*/;
    border-color:#f9ed69/*#FFFFFF*/;
}

@media all and (max-width:30em){
    .okButton {
        display: block;
        margin: 0.4em auto;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #8d3a95;
}

td{
    cursor:pointer;
}

tbody tr:hover  {
    background-color:#8d3a95;
    color:white;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    background-color: #8d3a95;
    color: white;
    font-size: 16px;
    padding: 10px 21px;
    cursor: pointer;
    border: none;
    margin:2px;

    content: 'Select File';
    display: inline-block;
    cursor: pointer;
}

.xml-button, .money-button{
    background-color: #8d3a95;
    color: white;
    font-size: 16px;
    padding: 10px 18px;
    cursor: pointer;
    border: none;
    margin:2px;
}

.xml-button:hover, .money-button:hover{
    opacity: 0.9;
    background-color: #ae4ab8;
    color: white;
}

input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.col{
    width: 80%;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
    vertical-align: middle;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
    vertical-align: middle;
}

#customers{
    margin-left:10px;
}