body{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.bar
{
    background-color: #f9ed69;
    margin: auto;
}

.logo
{
    background-color: #f9ed69;
    width: 90px;
    padding: 5px;
    /* center img: */
    display: block;
    margin: 0 auto;
}

.topnav {
    overflow: hidden;
    background-color: #471e4b;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #8d3a95;
    color: white;
}

.topnav a.active {
    background-color: #f9ed69;
    color: black;
}

.previous {
    background-color: #471e4b;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    position:absolute;
    bottom:20px;
    margin-left: 40px;
}

.previous:hover{
    background-color: #8d3a95;
}

.zone{
    color: #8d3a95;
    margin-left:10px;
    margin-bottom:10px;
    font-weight: bold;
}

/* store orders */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px; /*was 10px*/
}

.col{
    flex: 60%;
    padding: 70px;
    padding-top: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #8d3a95;
}

td{
    cursor:pointer;
}

tbody tr:hover  {
    background-color:#8d3a95;
    color:white;
}

ul{
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

li {
    background: #ddd;/*#8d3a95;*/
    padding:10px;
    margin: 5px;
    text-align: center;
    width: 100%;
    color:white;
}

li:hover{
    background: #8d3a95;

}

li:active{
    background: #471e4b;
}

.store-active{
    background: #8d3a95;
}
/* end store orders */


/* New store */
.col-25 {
    float: left;
    width: 50%;
    margin-top: 6px;
    vertical-align: middle
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

input[type=text], input[type=number], select, textarea {
    /*width: 100%;*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.text-cord{
    width: 10%;
}

.text-text{
    width: 70%;
}

.text-price{
    width: 10%;
}

input[type=submit] {
    background-color: #8d3a95;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width:100%;
}

input[type=submit]:hover {
    background-color: #ae4ab8;
}

.item, .discount, .feedback{
    margin: 2px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items:center;
    width: 90%;
    margin-top: 6px;
    cursor: pointer;

}

.item:hover, .discount:hover, .feedback:hover{
    /*background-color: #ae4ab8;*/
    border: 1px solid #ae4ab8;
}

.item label, .discount label, .feedback label{
    cursor: pointer;
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

h3{
    padding: 10px;
    margin: auto;
}
/* End New store */

.content{
    padding-left: 150px;
    padding-right: 150px;
}

/* Feedbacks */
.feedback-label{
    vertical-align: middle;
    padding: 12px;
}

.storeName-label{
    font-weight: bold;
    font-size: 20px;
}

.col-15 {
    display:flex;
    float: left;
    width: 20%;
    vertical-align: middle;
}

.col-85 {
    display:flex;
    float: left;
    width: 80%;
    /* margin-top: 6px;
    vertical-align: middle;*/
    padding: 5px;
    margin: 5px;
}

#sendOrder {
    margin: 2px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-around;	 /* CHANGED	*/
    align-content: flex-start;
    align-items:normal;
    width: 90%;
    margin-top: 6px;
}

#accept{
    background-color: #009900;
    margin: 5px;
}

#accept:hover{
    background-color: #32AD32;
}


#decline{
    background-color: #cd170d;
    margin: 5px;
}

#decline:hover{
    background-color: #d22e25;
}

.col-1 {
    display:flex;
    flex-direction:column;
    float: left;
    width: 20%;
    vertical-align: middle;
}

.col-2 {
    display:flex;
    flex-direction:column;
    float: left;
    width: 80%;
    vertical-align: middle;
    /* margin-top: 6px;
    vertical-align: middle;*/
    padding: 5px;
    margin: 5px;
}