<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>webCode.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>webCode.servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadXmlServlet</servlet-name>
        <servlet-class>webCode.servlets.LoadXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>webCode.servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAreasTableServlet</servlet-name>
        <servlet-class>webCode.servlets.ShowAreasTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>webCode.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneSelectedServlet</servlet-name>
        <servlet-class>webCode.servlets.ZoneSelectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaInfoServlet</servlet-name>
        <servlet-class>webCode.servlets.AreaInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleAreaMenuServlet</servlet-name>
        <servlet-class>webCode.servlets.SingleAreaMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreOrdersServlet</servlet-name>
        <servlet-class>webCode.servlets.storeOwnerOptions.StoreOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneNameServlet</servlet-name>
        <servlet-class>webCode.servlets.generalServlets.ZoneNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserNameServlet</servlet-name>
        <servlet-class>webCode.servlets.generalServlets.UserNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneStoresListServlet</servlet-name>
        <servlet-class>webCode.servlets.generalServlets.ZoneStoresListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeOrderPage</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.MakeOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenNewStoreServlet</servlet-name>
        <servlet-class>webCode.servlets.storeOwnerOptions.OpenNewStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewStoreServlet</servlet-name>
        <servlet-class>webCode.servlets.storeOwnerOptions.AddNewStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>presentSelectedStoreItems</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.getSelectedStoreItemsForStaticOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staticOrder</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.StaticOrderHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreFeedbacksServlet</servlet-name>
        <servlet-class>webCode.servlets.storeOwnerOptions.StoreFeedbacksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStoresFeedBacksServlet</servlet-name>
        <servlet-class>
            webCode.servlets.customerOptions.CreateStoresFeedBacksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staticOrderSummery</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.StaticOrderSummeryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFeedbacksFormServlet</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.ShowFeedbacksFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrder</servlet-name>
        <servlet-class>webCode.servlets.customerOptions.UpdateOrderInSystemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/loginPage/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadXmlServlet</servlet-name>
        <url-pattern>/loadXml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/uploadXmlFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAreasTableServlet</servlet-name>
        <url-pattern>/areasTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/accountTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneSelectedServlet</servlet-name>
        <url-pattern>/zoneSelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaInfoServlet</servlet-name>
        <url-pattern>/areaInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleAreaMenuServlet</servlet-name>
        <url-pattern>/singleAreaMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreOrdersServlet</servlet-name>
        <url-pattern>/storeOrdersPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneNameServlet</servlet-name>
        <url-pattern>/zoneName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNameServlet</servlet-name>
        <url-pattern>/userName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneStoresListServlet</servlet-name>
        <url-pattern>/zoneStoresList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenNewStoreServlet</servlet-name>
        <url-pattern>/newStorePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewStoreServlet</servlet-name>
        <url-pattern>/addNewStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeOrderPage</servlet-name>
        <url-pattern>/makeOrderPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>presentSelectedStoreItems</servlet-name>
        <url-pattern>/showSelctedStoreItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staticOrder</servlet-name>
        <url-pattern>/staticOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreFeedbacksServlet</servlet-name>
        <url-pattern>/showStoreFeedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStoresFeedBacksServlet</servlet-name>
        <url-pattern>/createStoreFeedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staticOrderSummery</servlet-name>
        <url-pattern>/staticOrderSummery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFeedbacksFormServlet</servlet-name>
        <url-pattern>/showFeedbacksForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOrder</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>




</web-app>

